#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/* 
Default Layer
┌───────┬─────┬─────┬─────┬─────┬─────┐
│  TAB  │  Q  │  W  │  E  │  R  │  T  │
├───────┼─────┼─────┼─────┼─────┼─────┤
│ SHIFT │  A  │  S  │  D  │  F  │  G  │
├───────┼─────┼─────┼─────┼─────┼─────┤
│ CTRL  │  Z  │  X  │  C  │  V  │  B  │
└───────┴─────┴─────┴─────┴─────┴─────┘
                    │ ALT │SPACE│ FN  │
                    └─────┴─────┴─────┘

Layer 1 - Tapped
┌───────┬─────┬─────┬─────┬─────┬─────┐
│  ESC  │  F1 │  F2 │  F3 │  F4 │  F5 │
├───────┼─────┼─────┼─────┼─────┼─────┤
│  nul  │ nul │ nul │ nul │ nul │ nul │
├───────┼─────┼─────┼─────┼─────┼─────┤
│  nul  │ nul │ nul │ nul │ nul │ nul │
└───────┴─────┴─────┴─────┴─────┴─────┘
                    │ nul │ BOOT│ nul │
                    └─────┴─────┴─────┘

Layer 2 - Held
┌───────┬─────┬─────┬─────┬─────┬─────┐
│ GRAVE │  N1 │  N2 │  N3 │  N4 │  N5 │
├───────┼─────┼─────┼─────┼─────┼─────┤
│  nul  │ nul │ nul │ nul │ nul │ nul │
├───────┼─────┼─────┼─────┼─────┼─────┤
│  nul  │ nul │ nul │ nul │ nul │ nul │
└───────┴─────┴─────┴─────┴─────┴─────┘
                    │ nul │ nul │ nul │
                    └─────┴─────┴─────┘
*/

/ {
    behaviors {
        shift_caps: shift_caps {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHIFT>, <&kp CAPS>;
        };
        mosl: mosl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&sl>; // Hold for layer 1, tap for sticky layer 2
        };
    };

    keymap {    
        compatible = "zmk,keymap";

        // Default Layer
        default_layer {
            bindings = < 
                &kp TAB         &kp Q      &kp W    &kp E       &kp R       &kp T  
                &shift_caps     &kp A      &kp S    &kp D       &kp F       &kp G 
                &kp LCTRL       &kp Z      &kp X    &kp C       &kp V       &kp B 
                                                    &kp LALT    &kp SPACE   &mosl 1 2
            >;
        };

        // Layer 1 (Activated on tap)
        layer_1 {
            bindings = <
                &kp ESC     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5
                &trans      &none       &none       &none       &none       &none
                &trans      &none       &none       &none       &none       &none
                                                    &trans      &bootloader &to DEFAULT
            >;
        };

        // Layer 2 (Activated on hold)
        layer_2 {
            bindings = <
                &kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5
                &trans      &none       &none       &none       &none       &none
                &trans      &none       &none       &none       &none       &none
                                                    &trans      &trans      &to DEFAULT
            >;
        };
    };
};